.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navCss{
  background-color:rgb(156, 63, 136);
}

.authentification{
  
  width: 20vw;
  position: absolute;
  margin-left: 20vw;
  top: 25vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  opacity: 0.9;
  z-index: 10;
}

.formulaire-inscription, .creation-materiel {
  
    position: relative;
    left: 20vw;
    top: 20vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    padding: 2%;
    width: 60vw;
    z-index: 12;
}

.btn-form-create{
  display: block;
  margin: auto;
}


h4{
  font-weight: bold;
}
.title-form{
  text-align: center;
  margin-bottom: 5%;
}

label {
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

